.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 2rem 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.logo {
  height: 24px;
  width: auto;
  display: block;
}
